.mainlearnlearn {
    width: 50%;
    height: 60%;
    left: 77px;
    top: 200px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.containerlearn {
    position: relative;
    height: 100vh;
    width: 100vw;
}

.textlearn {
    font-size: 70px;
    margin: 15px 0px;
} 

.jcb {
    display: inline-block;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 0px 12px;
  }

  .footerlearn {
    left: 77px;
    bottom: 0px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}