.circle-section {
    background-color: var(--color-whitesmoke-100);
    width: 100%;
    height: auto;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 0 0 67px 0;
}
.circle-container{
    width: auto;
    display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three equal-width columns */
      grid-template-rows: repeat(2, 1fr); /* Two equal-height rows */
      gap: 80px;
      font-size:x-large;
}

.join-a-circle {
    position: relative;
    line-height: 57.5px;
    justify-content: center;
    width: 43.19rem;
    height: 6.19rem;
    margin: 40px;
  }