
.main-res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-bottom: auto;
  }
  
  .drag-drop-area {
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border: 2px dashed #ccc;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    
  }

 .drag-drop-area p {
  margin: 0;
  font-size: 14px;
  text-align: center;
}

  .crr-label {
    font-size: 14px;    
    color: #555;
    margin-bottom: 5px;
    margin-left: 71px;
  }
  
.crr-text,.crr-text-area,
  .crr-select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-top: 1rem;
  }

  
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E")
      no-repeat right 8px center;
    background-size: 12px;
     padding-right: 30px; 
    width: 105%;
    
  }
  
  .crr-submit {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .crr-submit:hover {
    background-color: #0056b3;
  }
  
  .crr-card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
  }
  /*
  body {
    padding-top: 70px;
  }
  */
  .crr-card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .crr-card-flex-item {
    width: 200px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
  }
  

.crr-card {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 13px;
    padding: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    width: 10rem;
    margin-left: 4rem;
  }
  
  .crr-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .crr-card-image img {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
  }
  
  .crr-card-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-left: -1px;
  }
  
  .crr-card-content h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  
  .crr-card-content p {
    font-size: 1rem;
    text-align: center;
    margin-bottom: 15px;
  }
  
  .crr-card-button-res {
    display: block;
    width: 90%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
  }
  
  .crr-card-button:hover {
    background-color: #0056b3;
  } 

  .searchBar {
    padding: 10px;
    border: 1px solid #eaeaea;
    border-radius: 20px;
    margin: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    font-size: 16px;
    outline: none;
    background-color: #f0f0f0;
    transition: border-color 0.2s, background-color 0.2s;
  }
  
  .searchBar input[type="text"]:focus {
    border-color: #3498db;
    background-color: #fff;
  }
  