.black-card-container .black-card.card--dark {
  color: white;
  background-color: black;
  border-color: black;
  width: fit-content;
  border-radius: 5%;
}

.black-card-container .black-card.card--dark a {
  padding: 30px;
  
  width: 300px;
  height: 400px; 
  border: 2px solid black;
  background: black;
  text-decoration: none;
  color: white;
  display: block;
  transition: 0.25s ease;
  border-radius: 5%;
}

.black-card-container .black-card.card--dark a:hover {
  transform: translate(-30px, -30px);
  border-color: #5bc0eb;
}

.black-card-container .black-card.card--dark a:hover .black-card--display {
  display: none;
}

.black-card-container .black-card.card--dark a:hover .black-card--hover {
  display: block;
}

.black-card-container .black-card.card--dark a .black-card--display i {
  font-size: 30px;
  margin-top: 80px; /* Adjusted the margin-top value */
}

.black-card-container .black-card.card--dark a .black-card--display h2 {
  margin: 20px 0;
  font-size: 24px; /* Adjusted the font-size value */
}

.black-card-container .black-card.card--dark a .black-card--hover {
  display: none;
}

.black-card-container .black-card.card--dark a .black-card--hover h2 {
  margin: 20px 0;
}

.black-card-container .black-card.card--dark a .black-card--hover p {
  font-weight: normal;
  line-height: 1.5;
  font-size: medium;
}

.black-card-container .black-card.card--dark a .black-card--hover p.link {
  margin: 20px 0 0;
  font-weight: bold;
  color: #5bc0eb;
}

 .black-card--border {
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  border: 2px dashed black;
  z-index: -1;
  border-radius: 5%;
}
